@model oslomet_film.Model.Order

@{
    ViewBag.Title = "FetchOrder";
}

<h2>FetchOrder</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fult navn :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            Full pris :
        </dt>

        <dd>
            kr ,- @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>

    <div class="row">
        <div class="col-md-2"><label>Movie Title</label></div>
        <div class="col-md-2"><label>Price</label></div>
        <div class="col-md-2"><label>Ordre nummer</label></div>
    </div>

    @foreach (var item in Model.OrderLines)
    {
        <div class="row">
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Movie.Title)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Price)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.OrderID)</div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
