@model oslomet_film.Model.Cart

<div class="row">
    <div class="col col-md-12">
        <h1>
            Handlekurv
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn btn-block" id="#">
            Continue Browsing
        </a>
    </div>


    @foreach (var item in Model.CartItem)
    {
        <div class="row display-cart-full img-rounded">
            <div class="col col-md-3">
                <img src="@item.Movie.Thumbnail" class="thumbnail-md" />
            </div>
            <div class="col col-md-6">
                <h3>
                    <b>
                        @item.Movie.Title
                    </b>
                </h3>
                <br />
                <p>
                    @item.Movie.Description
                </p>
                <br />
                <p>
                    Pris : Kr @item.Price,- for å leie i 48 timer.
                </p>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <a href="@Url.Action("Details", "Movie", new { movieID = item.Movie.ID})" class="btn btn-primary btn-block">
                    Movie Details
                </a>
                <br />
                <a href="@Url.Action("RemoveItem", "Cart", new { movieID = item.Movie.ID})" class="btn btn-primary btn-block" id="#">
                    Remove from cart
                </a>
            </div>
        </div>
    }


    <div class="col col-md-4">

        Totalt:

        <a class="btn btn-success">
            Kjøp
        </a>
    </div>

    <hr />
    <div class="col-md-6">
        <a href="@Url.Action("Review", "Cart")" class="btn btn-primary btn-block" id="#">
            Lag ordre
        </a>
    </div>
    <div class="col-md-6">
        <h4>
            <b>
                TOTALT: @ViewBag.Total ,-
            </b>
        </h4>
    </div>
</div>