@model IEnumerable<oslomet_film.Model.Movie>

@Html.Partial("../Shared/AdminSideMenu")

<p>
    @Html.ActionLink("Legg til ny Film", "AddMovie", "Dashboard")
</p>

<div class="row">

    @foreach (var movie in Model)
    {
        <div class="row display-cart-full img-rounded">
            <div class="col col-md-2">
                <img src="@movie.Thumbnail" class="thumbnail" />
            </div>
            <div class="col col-md-5">
                <h3>
                    <b>
                        @movie.Title
                    </b>
                </h3>
                <br />
                <p>
                    @movie.Description
                </p>
                <br />
            </div>
            <div class="col col-md-1">
                @Html.ActionLink("Endre", "EditMovie", new { id = movie.ID }, new { @class = "editUsersModal", @data_target = "editUsersModal" })
            </div>
        </div>
    }
</div>
