<div class="navbar">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Alle Filmer", "Allmovies", "Dashboard")</li>
            <li>@Html.ActionLink("Alle Brukere", "AllCustomers", "Dashboard")</li>
            <li>@Html.ActionLink("Alle Ordre", "AllOrders", "Dashboard")</li>
            <li>@Html.ActionLink("Legg til Film", "AddMovie", "Dashboard")</li>
            <li>@Html.ActionLink("Legg til Bruker", "Register", "Dashboard")</li>
        </ul>
    </div>
</div>
