@model IEnumerable<oslomet_film.Model.OrderLine>

@{
    ViewBag.Title = "GetOrders";
}

<h2>GetOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
@foreach (var item in Model) {
<tr>
    <td>
        @item.Movie.Title
    </td>
    <td>
        @item.Movie.Price
    </td>
    <td>
        @item.Price
    </td>
    <td>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
