@model gruppeoppgave_acm.Models.MoviesView



@{
    ViewBag.Title = "Index";
}
<div>

    @Html.Partial("../Movie/Categories", Model.Categories) 

    <label class="text-success">@ViewBag.OrderSuccessfullyAdded</label>


    <div class="row">
        <div class="col col-md-3">

            <div class="filter-wrapper" style="background-color: #fff">
                <h3 style="text-align:center;">
                    Filtrer filmer
                </h3>
                <ul>
                    @foreach (var category in Model.Categories)
                    {
                        <li>
                            <input type="checkbox" class="cat-checkbox" value="@category.Name" />
                            <p>
                                @category.Name
                            </p>
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div class="col col-md-9">
            @Html.Partial("../Movie/MoviePartial", Model.Movies)
        </div>
    </div>
</div>